.signup-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-item {
    width: 20rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.signup-button {
    border: none;
    border-radius: 0.3rem;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
}

/*debug*/

.okr-container {
    display: flex;
    flex-direction: column;
}

.okr-header {
    display: flex;
    align-items: center;
}

h1.okr-header {
    height: 3rem;
    font-size: 2rem;
    justify-content: center;
}

h2.okr-header {
    height: 2rem;
    font-size: 1.2rem;
}

.okr-card {
    padding: 0.5rem;
    margin: 0.5rem;
    /*border: 1px solid grey;*/
    box-shadow: 0.3rem 0.3rem 0.3rem darkgrey;
    background-color: aliceblue;
}

.okr-section {
    display: flex;
    flex-wrap: wrap;
}

.okr-content {
    display: inline-block;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    background-color: darkorange;
    color: white;
}